<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobs</title>
  </head>
  <body>
    <div class="currentJobs">
      <p>
        Current Jobs
      </p>
        <div class="jobs" ng-repeat="item in jobs">
          <ul>
            <li>{{item.jobName}}</li>
            <li>{{item.jobDueDate}}</li>
          </ul>

        </div>
        <button type="button" name="deleteJob" ng-click="deleteJob(item.jobID)">Trash Can image</button>
    </div>
    <div class="addJobsButton">
    <section>
      
    </section>

      <button type="button" name="addJob" ngclick="addJob()">Add Job</button>

    </div>

    <div class="clients">
      <p>
        Current Clients
      </p>
      <div class="jobs" ng-repeat="item in client">
        <ul>
          <li>{{item.clientlastName}}</li>
          <li>{{item.jobDueDate}}</li>
        </ul>

      </div>
    </div>
    <footer>
      <!-- <div class="completeJobs">
        <p>
          Complete Jobs
        </p>
      </div> -->
    </footer>
  </body>
</html>
