<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobs</title>
  </head>
  <body>
    <div class="currentJobs">
      <p>
        Current Jobs
      </p>

    </div>
    <div class="addJobsButton">
      <button type="button" name="AddJobs" ngclick="addJob(newJob)">+</button>

    </div>

    <div class="clients">
      <p>
        Current Clients
      </p>
    </div>
    <div class="addJobsButton">
      <button type="button" name="AddJobs">+</button>

    </div>
    <footer>
      <!-- <div class="completeJobs">
        <p>
          Complete Jobs
        </p>
      </div> -->
    </footer>
  </body>
</html>
